.c1 {
  max-width: 100%;
  align-items: center;
  flex-basis: auto;
}

.edu-sec-txt {
  color: var(--clr-edu-res-h1);
  font-size: 5em;
}

.main-div {
  margin: 5rem auto;
  background-color: #efefe7;
  padding: 6rem !important;
}

.education-container {
  display: inline-flex;
  padding: 0.5rem;
  margin: 0;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: space-around;
}

.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.c3 {
  flex-basis: fit-content;
}

.txt {
  font-size: 2em;
}

.hr-blank {
  border-color: #efefe7;
}

.education-div {
  padding: 0.5rem;
}

@media (max-width: 600px) {
  .edu-sec-txt {
    font-size: 3.5em;
  }

  .txt {
    font-size: 1.5em;
  }
}
