.header {
  height: 4em;
  max-width: 78.125em;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;
  font-size: 1.2em;
  padding-top: 1.5em;
}

.header-flex {
  display: flex;
  flex-direction: row;
  gap: 0.3em;
  padding: 0 !important;
  flex-wrap: wrap;
}

@media (max-width: 37.5em) {
  .header {
    height: 3em;
  }

  .header-name {
    font-size: 1.7em !important;
    margin: 0;
  }
}

@media (max-width: 600px) {
  .header-name {
    margin: 0;
  }

  .header-flex {
    display: flex;
    flex-direction: row;
    gap: 0.3em;
    padding: 0 !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
