.nav__list {
  margin-right: 1.5em;
  display: flex;
}

.nav__list-item {
  margin-left: 1.5em;
}

.app .nav__hamburger {
  display: none;
}

.nav__theme {
  margin-top: 0em;
  margin-bottom: 0.9rem;
  transition: 1000ms;
}

.nav__theme:active {
  transition: 1000ms ease-in-out;
}

@media (max-width: 1030px) {
  .nav__list {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-image: var(--clr-bg);
  }

  .nav__list-item {
    margin: 0.5em 0;
  }
}
