:root {
  --base-font-size: 16px;
}

.footer {
  padding: 1.875em 0;
  padding-bottom: 1.875em;
  margin-top: 2.5em;
  text-align: center;
}

.footer-link {
  font-size: 1.6em;
  font-weight: 500;
  color: var(--clr-main-font);
}

hr {
  border: 1px solid;
  border-color: var(--clr-main-font);
  border-radius: 2em;
  width: 50%;
  display: block;
  margin: auto;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

@media (max-width: 600px) {
  .footer {
    padding: 1.25em;
    margin-top: 1.875em;
  }

  .footer-link {
    font-size: 1.2em;
    font-weight: 500;
    color: var(--clr-main-font);
  }
}
