@font-face {
  font-family: Almarena-Regular;
  src: url('../src/assets/fonts/Almarena-Regular.woff') format('woff'),
    url('../src/assets/fonts/Almarena-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Almarena-Light;
  src: url('../src/assets/fonts/Almarena-Light.woff') format('woff'),
    url('../src/assets/fonts/Almarena-Light.ttf') format('truetype');
}

@font-face {
  font-family: Silk-Serif-Regular;
  src: url('../src/assets/fonts/Silk-Serif-Regular.otf') format('opentype');
}

@font-face {
  font-family: Silk-Serif-Light;
  src: url('../src/assets/fonts/Silk-Serif-Light.otf') format('opentype');
}

@font-face {
  font-family: Silk-Serif-Light-Italic;
  src: url('../src/assets/fonts/Silk-Serif-Light-Italic.otf') format('opentype');
}

@font-face {
  font-family: Silk-Serif-ExtraLight;
  src: url('../src/assets/fonts/Silk-Serif-ExtraLight.otf') format('opentype');
}

@font-face {
  font-family: Atyp;
  src: url('../src/assets/fonts/Atyp.otf') format('opentype');
}

@font-face {
  font-family: Concrete;
  src: url('../src/assets/fonts/Concrete.otf') format('opentype');
}

@font-face {
  font-family: Haerme;
  src: url('../src/assets/fonts/Haerme.otf') format('opentype');
}

@font-face {
  font-family: Thuru;
  src: url('../src/assets/fonts/Thuru.otf') format('opentype');
}

.app {
  font-family: 'Atyp', 'Poppins', sans-serif;
  line-height: 1.5;
  color: var(--clr-main-font);
  background-color: black var(--clr-bg);
  background-image: var(--clr-bg);
}

.light {
  --clr-bg: linear-gradient(
    147deg,
    #daffb0,
    #cbafe6,
    #ffd3b5,
    #ff97c8,
    #daffb0
  );
  --clr-header: #1db9c3;
  --clr-bg-alt: #efefe7;
  --clr-fg: #efefe7;
  --clr-fg-alt: #444;
  --ghost-bg: #195157;

  --clr-fg-altv2: #444;
  --clr-btnhover: #e7530b;
  --clr-main-font: #05445e;
  --clr-navbar-social-line: #1db9c3;
  --clr-social-icons-hover: #05445e;
  --clr-social-icons-navbar-hover1: #1db9c3;
  --clr-btn-toggle: #2a2f4c;
  --clr-themebtn-toggle: #1db9c3;
  --clr-edu-res-h1: #05445e;
  --clr-text: #555;
  --clr-text-section-education: #444;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --clr-box-bg: #faf0e6;
}

.light-1 {
  --clr-bg: linear-gradient(
    147deg,
    #ffc0c0,
    #e6c98c,
    #ebffb5,
    #b5fd94,
    #ffc0c0
  );
  --clr-header: #1db9c3;
  --clr-bg-alt: #efefe7;
  --clr-fg: #efefe7;
  --clr-fg-alt: #444;
  --ghost-bg: #195157;

  --clr-fg-altv2: #444;
  --clr-btnhover: #e7530b;
  --clr-main-font: #05445e;
  --clr-navbar-social-line: #1db9c3;
  --clr-social-icons-hover: #05445e;
  --clr-social-icons-navbar-hover1: #1db9c3;
  --clr-btn-toggle: #2a2f4c;
  --clr-themebtn-toggle: #1db9c3;
  --clr-edu-res-h1: #05445e;
  --clr-text-section-education: #444;
  --clr-text: #555;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --clr-box-bg: #faf0e6;
}

.light-2 {
  --clr-bg: linear-gradient(
    147deg,
    #dcc6ff,
    #71d0d3,
    #5094d3,
    #b989e0,
    #d0ffee
  );
  --clr-header: #1db9c3;
  --clr-bg-alt: #efefe7;
  --clr-fg: #efefe7;
  --clr-fg-alt: #444;
  --ghost-bg: #195157;

  --clr-fg-altv2: #444;
  --clr-btnhover: #e7530b;
  --clr-main-font: #05445e;
  --clr-navbar-social-line: #1db9c3;
  --clr-social-icons-hover: #05445e;
  --clr-social-icons-navbar-hover1: #1db9c3;
  --clr-btn-toggle: #2a2f4c;
  --clr-themebtn-toggle: #1db9c3;
  --clr-edu-res-h1: #05445e;
  --clr-text-section-education: #444;

  --clr-text: #555;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --clr-box-bg: #faf0e6;
}

.light-3 {
  --clr-bg: linear-gradient(
    147deg,
    #fcf3df,
    #d4e091,
    #fff48d,
    #b6ffc8,
    #a7f2ff
  );
  --clr-header: #1db9c3;
  --clr-bg-alt: #efefe7;
  --clr-fg: #efefe7;
  --clr-fg-alt: #444;
  --ghost-bg: #195157;

  --clr-fg-altv2: #444;
  --clr-btnhover: #e7530b;
  --clr-main-font: #05445e;
  --clr-navbar-social-line: #1db9c3;
  --clr-social-icons-hover: #05445e;
  --clr-social-icons-navbar-hover1: #1db9c3;
  --clr-btn-toggle: #2a2f4c;
  --clr-themebtn-toggle: #1db9c3;
  --clr-edu-res-h1: #05445e;
  --clr-text: #555;
  --clr-text-section-education: #444;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --clr-box-bg: #faf0e6;
}

.light-4 {
  --clr-bg: linear-gradient(
    147deg,
    #6c7ddf,
    #dcedc2,
    #ffd3b5,
    #ffaaa6,
    #ff8c94
  );
  --clr-header: #1db9c3;
  --clr-bg-alt: #efefe7;
  --clr-fg: #efefe7;
  --clr-fg-alt: #0b3863;
  --ghost-bg: #195157;
  --scrollbar-bg: #571919;

  --clr-fg-altv2: #444;
  --clr-btnhover: #e7530b;
  --clr-main-font: #05445e;
  --clr-navbar-social-line: #1db9c3;
  --clr-social-icons-hover: #05445e;
  --clr-social-icons-navbar-hover1: #1db9c3;
  --clr-btn-toggle: #2a2f4c;
  --clr-themebtn-toggle: #1db9c3;
  --clr-edu-res-h1: #0b3863;
  --clr-text-section-education: #2a2f4c;
  --clr-text: #555;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --clr-box-bg: #faf0e6;
}

.dark {
  --clr-bg: linear-gradient(
    147deg,
    #350f00,
    #1a3b44,
    #5d6068,
    #5d6068,
    #1a3b44,
    #350f00
  );
  --ghost-bg: #2a2f4c;
  --clr-header: #efefe7;
  --clr-bg-alt: #242e2f;
  --clr-fg: #bdbddd;
  --clr-fg-alt: #e7e7ff;
  --clr-main-font: #9addd8;
  --clr-fg-altv2: #bdbddd;
  --clr-btnhover: #efefe7;
  --clr-edu-res-h1: #2a2f4c;
  --clr-navbar-social-line: #bdbddd;
  --clr-social-icons-hover: #e7530b;
  --clr-social-icons-navbar-hover1: #bdbddd;
  --clr-btn-toggle: #e7530b;
  --clr-themebtn-toggle: #bdbddd;
  --clr-text: #2a2f4c;
  --clr-text-section-education: #2a2f4c;
  --clr-box-bg: #faf0e6;

  --shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.dark-1 {
  --clr-bg: linear-gradient(
    147deg,
    #dc8665,
    #183086,
    #534666,
    #cd7672,
    #eeb462
  );

  --ghost-bg: #2a2f4c;
  --clr-header: #2a2f4c;
  --clr-bg-alt: #2a2f4c;
  --clr-fg: #bdbddd;
  --clr-fg-alt: #cdcdff;
  --clr-main-font: #efefe7;
  --clr-fg-altv2: #bdbddd;
  --clr-btnhover: #efefe7;
  --clr-edu-res-h1: #2a2f4c;
  --clr-navbar-social-line: #bdbddd;
  --clr-social-icons-hover: #e7530b;
  --clr-social-icons-navbar-hover1: #bdbddd;
  --clr-btn-toggle: #e7530b;
  --clr-themebtn-toggle: #bdbddd;
  --clr-text: #2a2f4c;
  --clr-text-section-education: #303b3a;
  --clr-box-bg: #faf0e6;

  --shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.dark-2 {
  --clr-bg: linear-gradient(
    147deg,
    #bb975a,
    #565f63,
    #565f63,
    #303b3a,
    #2e2929,
    #bb975a
  );
  --ghost-bg: #2a2f4c;
  --clr-header: #000000bb;
  --clr-bg-alt: #d3d3d3;
  --clr-fg: #bdbddd;
  --clr-fg-alt: #efefef;
  --clr-main-font: #efefe7;
  --clr-fg-altv2: #000000;
  --clr-btnhover: #efefe7;
  --clr-edu-res-h1: #2a2f4c;
  --clr-navbar-social-line: #bdbddd;
  --clr-social-icons-hover: #e7530b;
  --clr-social-icons-navbar-hover1: #bdbddd;
  --clr-btn-toggle: #e7530b;
  --clr-themebtn-toggle: #bdbddd;
  --clr-text: #2a2f4c;
  --clr-text-section-education: #2a2f4c;
  --shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  --clr-box-bg: #faf0e6;
}

.dark-3 {
  --clr-bg: linear-gradient(
    147deg,
    #000000,
    #cbd5f7,
    #000000,
    #cbd5f7,
    #000000
  );
  --ghost-bg: #2a2f4c;
  --clr-header: #f5f5dc;
  --clr-bg-alt: #2a2f4c;
  --clr-fg: #bdbddd;
  --clr-fg-alt: #ddff81;
  --clr-main-font: #f8f8f8;
  --clr-fg-altv2: #bdbddd;
  --clr-btnhover: #efefe7;
  --clr-edu-res-h1: #2a2f4c;
  --clr-navbar-social-line: #bdbddd;
  --clr-social-icons-hover: #e7530b;
  --clr-social-icons-navbar-hover1: #bdbddd;
  --clr-btn-toggle: #e7530b;
  --clr-themebtn-toggle: #bdbddd;
  --clr-text-section-education: #1b3a33;

  --clr-text: #2a2f4c;
  --shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  --clr-box-bg: #faf0e6;
}

.dark-4 {
  --clr-bg: linear-gradient(
    147deg,
    #4d1e0f,
    #091c4f,
    #303b3a,
    #7b4a48,
    #bb975a
  );
  --ghost-bg: #2a2f4c;
  --clr-header: #e1c564;
  --clr-bg-alt: #2a2f4c;
  --clr-fg: #bdbddd;
  --clr-fg-alt: #e1c564;
  --clr-main-font: #fffafa;
  --clr-fg-altv2: #bdbddd;
  --clr-btnhover: #efefe7;
  --clr-edu-res-h1: #2a2f4c;
  --clr-navbar-social-line: #bdbddd;
  --clr-social-icons-hover: #e7530b;
  --clr-social-icons-navbar-hover1: #bdbddd;
  --clr-btn-toggle: #e7530b;
  --clr-themebtn-toggle: #bdbddd;
  --clr-text: #2a2f4c;
  --clr-text-section-education: #2a2f4c;
  --shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  --clr-box-bg: #faf0e6;
}

main {
  max-width: 1400px;
  width: 95%;
  margin: 0 auto;
}

.btn-navbar-social {
  color: var(--clr-main-font);
  background-color: transparent;
}

.btn-navbar-social:hover {
  color: var(--clr-navbar-social-line);
}
.section {
  margin-top: 5em;
}

.hi-main {
  display: flex;
  text-align: center;
  justify-content: flex-start;
  font-size: 6rem;
  margin: 0 !important;
  font-family: 'Thuru', 'Poppins', sans-serif;
}

.section-title {
  font-family: 'Thuru', 'Poppins', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.center {
  display: flex;
  align-items: center;
  text-align: left;
}

.end {
  display: flex;
  align-items: flex-end;
  text-align: left;
  align-items: center;
}

.top-arrow {
  color: var(--clr-fg);
}

.title {
  color: var(--clr-main-font);
  text-align: center;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.link {
  color: var(--clr-main-font);
  padding: 0 0 0.3em 0;
  position: relative;
}

.link:hover {
  color: var(--clr-main-font);
}

.link::before {
  content: '';
  display: inline;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: var(--clr-navbar-social-line);
  transition: width 0.2s ease-in;
}

.link:hover::before,
.link:focus::before {
  width: 100%;
}

.link--nav {
  color: var(--clr-fg);

  font-weight: 500;
}

.link--icon {
  color: var(--clr-bg);
}

.navbar-link {
  color: var(--clr-main-font);
  padding: 0 0 0.3em 0;
  position: relative;
}

.navbar-link:hover {
  color: var(--clr-navbar-social-line) !important;
}

.navbar-link::before {
  content: '';
  display: inline;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: var(--clr-navbar-social-line);
  transition: width 0.2s ease-in;
}

.navbar-link:hover::before,
.navbar-link:focus::before {
  width: 100%;
}

.btn-skill {
  color: var(--clr-fg-altv2);
}

.btn-skill:hover {
  color: var(--clr-main-font);
}

.btn {
  display: block;
  cursor: pointer;
  padding: 0.8em 1.4em;
  font-weight: 500;
  font-size: 0.9rem;

  transition: transform 0.2s ease-in-out;
}

.btn--outline {
  color: var(--clr-main-font);
  border: 2px solid var(--clr-main-font);
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn--outline:hover,
.btn--outline:focus {
  color: var(--clr-bg-alt);
}

.btn--outline:before {
  content: '';
  position: absolute;
  background-color: var(--clr-main-font);
  right: 100%;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: -1;
  transition: right 0.2s ease-in-out;
}

.btn--outline:hover:before,
.btn--outline:focus:before {
  right: 0;
}

.btn--plain {
  text-transform: initial;
  background-color: var(--clr-bg-alt);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  border: 0;
}

.btn--plain:hover {
  transform: translateY(-4px);
}

.btn--icon {
  padding: 0;
}

.btn--icon:hover {
  color: var(--clr-navbar-social-line);
}

.btn--icon:active {
  transform: translateY(-5px);
}

.btn-toggle {
  padding-top: 0.5em;
  color: var(--clr-main-font);
}

.btn-toggle:hover {
  color: var(--clr-navbar-social-line);
}

.section-project {
  /* background-color: var(--clr-fg); */
  align-content: center;
}

.project {
  background-color: var(--clr-box-bg);
}

.scroll-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  will-change: transform;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #eeb462;
  transform-origin: 0%;
}

.section-skills {
  color: var(--clr-main-font);
  align-content: center;
  font-size: 3rem;
}

.box {
  color: var(--clr-text);
}

.socials-icon:hover {
  color: var(--clr-social-icons-hover) !important;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

@media (max-width: 600px) {
  .section {
    margin-top: 4em;
  }

  .section-skills {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 500px) {
  .main {
    animation-name: fadein;
    animation-iteration-count: once;
    animation-duration: 0.4s;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: opacity 0.4s cubic-bezier(0.645, 0.045, 0.355, 1),
      padding 0.2s ease-in-out;
  }

  .section-project {
    padding-left: 25px;
    padding-right: 20px;
  }

  .hi-main {
    display: flex;
    text-align: left;
    justify-content: flex-start;
    font-size: 2.8rem;
    margin: 0 !important;
  }
}
